<div class="body">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Sign in</h3>
    <!-- Login -->
    <div class="container">
      <div>
        <label>Email</label>
        <input type="email" class="form-control" formControlName="username" required>
      </div>
      <div>
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" required>
      </div>
      <button type="submit">Log in</button>
      <br><br>
      <p>Local Account</p>
      <p>username : local@gmail.com</p>
      <p>password : localhost</p>
    </div>
  </form>
</div>
